<div *ngIf="shoppingcartDetails" class="container text-center mt-4">
    <div class="row">
        <div class="col-xxl-12">
            <app-list-shop-items [manage]="manage" [items]="shoppingcartDetails.items">
            </app-list-shop-items>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-xxl-6">
                        <span>Sub Total</span>
                    </div>
                    <div class="col-xxl-6">
                        <span>{{shoppingcartDetails.subTotal | currency:'USD':'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <span>Shipping Fee</span>
                    </div>
                    <div class="col-xxl-6">
                        <span>+ {{shoppingcartDetails.shippingFee | currency:'USD':'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <span>Vat Rate</span>
                    </div>
                    <div class="col-xxl-6">
                        <span>+ {{(shoppingcartDetails.subTotal / 100) * shoppingcartDetails.vatRate |
                            currency:'USD':'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <h3>Total</h3>
                    </div>
                    <div class="col-xxl-6">
                        <h3>{{shoppingcartDetails.total | currency:'USD':'symbol':'1.2-2' }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <p-button (click)="navigateToPrevious()" styleClass="ps-2 pe-2 d-inline float-start"><i
                    class="pi pi-arrow-left pe-3" style="font-size: 1rem"></i> Previous</p-button>
            <p-button (click)="navigateToNext()" styleClass="ps-2 pe-2 d-inline float-end">Next <i
                    class="pi pi-arrow-right ps-3" style="font-size: 1rem"></i></p-button>
        </div>
    </div>
</div>