<div class="container text-center mb-5">
    <div class="row">
        <div *ngIf="orders && orders.length > 0" class="col-xxl-12 mt-3 border-bottom">
            <h1 class="text-teal-500 underline fst-italic mb-5"> List Orders</h1>
            <div *ngFor="let order of orders" class="container text-center ">
                <div class="pb-3 row pt-3 border-top justify-content-center align-items-center">
                    <div class="col-md-2">
                        <span class="text-gray-500">Order N°: </span>
                        <span class="text-teal-500">{{order.id}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="text-gray-500">Date Order: </span>
                        <span class="text-teal-500">{{order.dateOrder}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="text-gray-500">Status: </span>
                        <span class="text-teal-500">{{order.statusOrder}}</span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <span class="text-gray-500">Total: </span>
                        <span class="text-teal-500">{{ order.total | currency:'USD':'symbol':'1.2-2' }}</span>
                        <!-- <span class="text-gray-500 text-xs">{{ shopItem.price | currency:'USD':'symbol':'1.2-2' }}</span> -->
                    </div>
                    <div class="col-md-2">
                        <p-button styleClass="me-2" icon="pi pi-search" [rounded]="true" severity="success"
                            [outlined]="true"></p-button>
                        <p-button (click)="cancelOrder(order.id)" icon="pi pi-times" [rounded]="true" [text]="true"
                            [raised]="true" severity="danger "></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>