<div class="container-fluid mb-3">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 d-flex align-items-center">
                <img [src]="'https://images.pexels.com/photos/1480347/pexels-photo-1480347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
                    [alt]="'pexels-photo'" width="100%" height="150" class="shadow-2" />
            </div>
            <div class="col-xxl-4 d-flex align-items-center">
                <img [src]="'https://images.pexels.com/photos/2946979/pexels-photo-2946979.jpeg'" [alt]="'books'"
                    width="100%" height="150" class="shadow-2" />
            </div>
            <div class="col-xxl-4 d-flex align-items-center">
                <img [src]="'https://images.pexels.com/photos/1666065/pexels-photo-1666065.jpeg'" [alt]="'gift'"
                    width="100%" height="150" class="shadow-2" />
            </div>
        </div>
    </div>
</div>