<p-card  header="Advanced Card" subheader="Card Subheader"
    [style]="{ width: '25%', display: 'inline-block' }">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{rootUrl + book.imageUrl}}"
                [alt]="book.isbn" class="product-image" width="100px" height="150px"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-teal-500">{{ book.title }}</h5>
                <h6 class="text-gray-600 mb-1">{{ book.authorName }}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-teal-500">{{ '$' + book.price }}</h2>
                <p-tag [value]="book.status" [severity]="book.statusColor"></p-tag>
                <div class="mb-3 mt-3 align-items-center justify-content-center">
                    <p-button icon="pi pi-cart-plus" [rounded]="true" />
                    <p-button icon="pi pi-search" [rounded]="true" severity="secondary" />
                </div>
            </div>
        </div>
    </div>
</p-card>