<p-card  header="Advanced Card" subheader="Card Subheader"
    [style]="{ width: '25%', display: 'inline-block' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur
        error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis,
        culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
    <ng-template pTemplate="footer">
        <p-button label="" icon="pi pi-check"></p-button>
        <p-button label="" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
    </ng-template>
</p-card>