<div class="container max-w-min ps-3 pe-3 me-3 ms-3">
    <div class="row">
        <div class="col-md-12">
            <p-image src="{{rootUrl + book.imageUrl}}" class="product-image" appendTo="body" width="100px"
                height="150px" [alt]="book.isbn" [preview]="true"></p-image>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-teal-500">{{ book.title }}</h5>
            <h6 class="text-gray-600 mb-1">{{ book.authorName }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-teal-500">{{ '$' + book.price }}</h2>
            <p-tag [value]="book.status" [severity]="book.statusColor"></p-tag>
            <div class="mb-3 mt-3 align-items-center justify-content-center">
                <p-button [disabled]="book.quantity <= 0" icon="pi pi-cart-plus" [rounded]="true" (click)="sendToShoppingCart(book)" />
                <p-button icon="pi pi-search" [rounded]="true" severity="secondary" (click)="navigateToDetails(book)" />
            </div>
        </div>
    </div>
</div>