<div *ngIf="!signUp;" class="container mt-5">
    <div class="row">
        <div class="col-xxl-5">
            <div class="container mt-3 align-baseline">
                <app-login-form (connected)="navigateToHome($event)"></app-login-form>
            </div>
        </div>
        <div class="col-xxl-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p-divider layout="vertical" styleClass="lh-lg mt-3 p-5"><b>OR</b></p-divider>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-5 mt-5">
            <p-button label="Sign Up" (click)="showSignUp()" icon="pi pi-user-plus"
                styleClass=" lh-lg w-100 mt-4 p-button-success"></p-button>
        </div>
    </div>
</div>
<app-sign-up-form *ngIf="signUp" (connected)="navigateToHome($event)"></app-sign-up-form>