<div class="container justify-content-center text-center mt-4">
    <div class="row mt-5 mb-4 border-solid border-primary-500">
        <div class="col-xxl-12">
            <h1 class="text-teal-500"> Comment(s) Section</h1>
        </div>
    </div>
    <div class="row mt-5 mb-4">
        <div class="col-xxl-12">
            <h4 class="text-red-500" *ngIf="showForm === false"> You already posted a comment for this book!</h4>
            <p-button *ngIf="showForm === null" [rounded]="true" (click)="navigateToLogin()"
                styleClass="justify-content-center">Get connected for adding a comment!</p-button>
            <app-comment-form (newCommentCreated)="getCommentCreated($event)" *ngIf="showForm"
                [bookId]="bookId"></app-comment-form>
        </div>
    </div>
    <div *ngIf="comments && comments.length > 0; else noComments" class="row mt-5 mb-4 justify-content-center">
        <div class="col-xxl-12 border">
            <div class="container">
                <div *ngFor="let comment of comments | slice:0:showComments;"
                    class="row justify-content-center ps-0 pe-0 mb-5 border rounded-5">
                    <div class="col-xxl-2">
                        <div class="pb-5 pt-5">
                            <i class="pi pi-user text-teal-500" style="font-size: 4rem;"></i>
                        </div>
                    </div>
                    <div class="col-xxl-10">
                        <div class="text-break">
                            <h3 class="text-teal-500">Title : {{comment.title}}</h3>
                        </div>
                        <div class="text-break vertical-align-top">

                            <div class="inline-block w-4 text-left pt-2 pb-2 vertical-align-top">
                                <span class="text-teal-500"><strong>Author:</strong> {{comment.customerName}}</span>
                            </div>
                            <div class="inline-block w-4 text-center pt-2 pb-2 vertical-align-top">
                                <p-rating [(ngModel)]="comment.rating" [readonly]="true" [cancel]="false"></p-rating>
                            </div>
                            <div class="inline-block w-4 text-right pt-2 pb-2 vertical-align-top">
                                <span class="text-teal-500"> {{comment.dateComment}}</span>
                            </div>
                        </div>
                        <div class="text-break pb-4 pt-4 text-sm">
                            <span class="">{{comment.content}}</span>
                        </div>
                        <div class="pb-4 pt-4 text-sm">
                            <p-button *ngIf="customer?.userName === comment.userName" (click)="showUpdateForm(comment)"
                                [rounded]="true" styleClass="justify-content-center">Edit</p-button>
                            <p-button *ngIf="customer?.userName === comment.userName"
                                (click)="removeComment(comment.id)" [rounded]="true" severity="danger"
                                styleClass="justify-content-center">Delete</p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noComments>
        <div class="container mt-5 mb-5 p-4 border">
            <h3 class="text-gray-500 underline font-italic"> <i class="pi pi-spin pi-exclamation-triangle me-3"
                    style="font-size: 2rem; color:red;"></i> No Comment found! <i
                    class="pi pi-spin pi-exclamation-triangle ms-3" style="font-size: 2rem; color:red;"></i></h3>
        </div>
    </ng-template>
</div>