<div class="container-fluid bg-bluegray-900 text-bluegray-200 py-1 mt-5 border-top">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-3 p-0">
                <h4><span class="text-teal-500">About</span> <span class="text-white"> Us</span></h4>
                <ul class="list-none p-0 text-sm">
                    <li><a href="#" class="footer-link">Best E-Shop For Books.</a></li>
                </ul>
            </div>
            <div class="col-md-3 p-0">
                <h4><span class="text-teal-500">Customer</span> <span class="text-white"> Service</span></h4>
                <ul class="list-none p-0 text-sm">
                    <li><a href="#" class="footer-link">Help & FAQs</a></li>
                    <li><a href="#" class="footer-link">Orders & Returns</a></li>
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 p-0">
                <h4><span class="text-teal-500">Quick</span> <span class="text-white"> Links</span></h4>
                <ul class="list-none p-0 text-sm">
                    <li><a href="#" class="footer-link">Best Sellers</a></li>
                    <li><a href="#" class="footer-link">New Releases</a></li>
                    <li><a href="#" class="footer-link">Gift Ideas</a></li>
                </ul>
            </div>
            <div class="col-md-3 p-0">
                <h4><span class="text-teal-500">Follow</span> <span class="text-white"> Us & Subscribe</span></h4>
                <ul class="list-none p-0 text-sm">
                    <li><a href="#" class="footer-link">Facebook</a></li>
                    <li><a href="#" class="footer-link">Twitter</a></li>
                    <li><a href="#" class="footer-link">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-1 pb-1 bg-bluegray-800">
            </div>
        </div>
    </div>


    <div class="container mb-6">
        <div class="row">
            <div class="col-md-12 p-0">
                <h5 class="text-bluegray-600">Copyright © The Bookshop 2023-2024 | All rights reserved. </h5>
            </div>
        </div>
    </div>
</div>