<app-flyer-panel></app-flyer-panel>
<div class="container">
    <div class="row">
        <div class="col-xxl-3">
            <app-panel></app-panel>
        </div>
        <div class="col-xxl-9">
            <!-- <app-galleria [responsiveOptions]="responsiveOptions" [images]="images"></app-galleria> -->
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <app-carousel [numVisible]="3" [responsiveOptions]="responsiveOptionsHomeCarousel"
                        [books]="books!.slice(0,5)"></app-carousel>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ng-container *ngFor="let book of books!.slice(first, first + rows)">
                            <app-card [book]="book"></app-card>
                        </ng-container>
                        <p-paginator [rows]="rows" [totalRecords]="totalRecords" [first]="first"
                            (onPageChange)="onPageChange($event)"></p-paginator>
                    </div>
                </div>
            </div>
            <!-- <app-table [products]="products"></app-table> -->
        </div>
    </div>
</div>