<app-flyer-panel></app-flyer-panel>
<div class="container">
    <div class="row">
        <div class="col-xxl-3">
            <app-panel></app-panel>
        </div>
        <div class="col-xxl-9">
            <!-- <app-galleria [responsiveOptions]="responsiveOptions" [images]="images"></app-galleria> -->
            <app-carousel [numVisible]="3" [responsiveOptions]="responsiveOptionsHomeCarousel" [books]="books"></app-carousel>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ng-container *ngFor="let ind of indexes; let i = index">
                            <app-card></app-card>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- <app-table [products]="products"></app-table> -->
        </div>
    </div>
</div>