<div class="container mt-5 text-center">
    <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="row mb-5">
            <div class="col-xxl-2 mt-2">
                <label for="password">Password</label>
            </div>
            <div class="col-xxl-10">
                <input pInputText class="w-75" type="password" formControlName="password" maxlength="100" required />
                <app-form-validation-error [control]="loginForm.get('password')"></app-form-validation-error>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xxl-2 mt-2">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="col-xxl-10">
                <input pInputText class="w-75" type="password" formControlName="confirmPassword" maxlength="100" required />
                <app-form-validation-error [control]="loginForm.get('confirmPassword')"></app-form-validation-error>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xxl-2 mt-2">
                <label for="newPassword">New Password</label>
            </div>
            <div class="col-xxl-10">
                <input pInputText class="w-75" type="password" formControlName="newPassword" maxlength="100" required />
                <app-form-validation-error [control]="loginForm.get('newPassword')"></app-form-validation-error>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xxl-2 mt-2">
                <label for="confirmNewPassword">Confirm New Password</label>
            </div>
            <div class="col-xxl-10">
                <input pInputText class="w-75" type="password" formControlName="confirmNewPassword" maxlength="100" required />
                <app-form-validation-error [control]="loginForm.get('confirmNewPassword')"></app-form-validation-error>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xxl-12">
                <div class="row mb-3 justify-content-center">
                    <p-button [rounded]="true" styleClass="justify-content-center w-50" type="submit"
                        [disabled]="!loginForm.valid">Update password</p-button>
                </div>
            </div>
        </div>
    </form>
</div>