<div class="container-fluid bg-light bg-opacity-10 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <i class="pi pi-book text-teal-500 fst-italic" style="font-size: 3.5rem"></i>
                <h1 class="text-teal-500 opacity-75 fst-italic" style="font-size: 2.2rem;">The Bookshop</h1>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <p-inputGroup>
                    <input type="text" pInputText placeholder="Search by title, author, keyword or ISBN" />
                    <button type="button" pButton icon="pi pi-search" label="Search"></button>
                </p-inputGroup>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <div class="row text-end">
                    <div class="col-md-8">
                        <h4 class="text-teal-500 fw-bold mt-0 mb-0">Shopping cart</h4>
                        <p class="mt-0 mb-0">2 Product(s)</p>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                        <p-button (click)="op.toggle($event)" icon="pi pi-gift" severity="help"></p-button>
                        <p-overlayPanel #op>
                            <p-carousel [value]="products" [numVisible]="1" verticalViewPortHeight="405px"  orientation="vertical" [responsiveOptions]="responsiveOptionsCartCarousel">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-item-content">
                                            <div class="mb-3">
                                                <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                                                    [alt]="product.name" class="product-image" />
                                            </div>
                                            <div>
                                                <h4 class="mb-1">{{ product.name }}</h4>
                                                <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                                                <p-tag [value]="product.inventoryStatus"
                                                    [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                                                <div class="mt-5 flex align-items-center justify-content-center gap-2">
                                                    <p-button icon="pi pi-search" [rounded]="true" />
                                                    <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </p-overlayPanel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>