<div class="container-fluid bg-teal-50 text-dark py-1 mt-0 mb-5 border-bottom text-center">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-2">
                <a href="#" class="nav-link link-secondary mx-2">CONTACT US</a>
            </div>
            <div class="col-md-3">
                <i class="pi pi-user" style="font-size: 1.5rem"></i>
                <span *ngIf="isConnected()"> Hey <span class="text-teal-500 fst-italic">{{customerName}}</span> ! </span>
                <a class="nav-link link-secondary mx-2" *ngIf="isConnected(); else notConnected" (click)="logout()"
                    routerLink="">Logout</a>
                <ng-template #notConnected>
                    <a class="nav-link link-secondary mx-2" [routerLink]="['/login']">Login/Register</a>
                </ng-template>
            </div>
        </div>
    </div>
</div>