<div class="container-fluid bg-teal-50 text-dark py-1 mt-0 mb-5 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-10 d-flex">
                <a href="#" class="nav-link link-secondary mx-2">CONTACT US</a>
            </div>
            <div class="col-md-2 d-flex">
                <i class="pi pi-user" style="font-size: 1.5rem"></i><a href="#"
                    class="nav-link link-secondary mx-2">Login/Register</a>
            </div>
        </div>
    </div>
</div>